@model IEnumerable<Team5_ConestogaVirtualGameStore.Models.Wishlist>

@{
    ViewData["Title"] = "Index";
}

<h1>WishList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.UserId)*@
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.UserId)*@
                    Item 1
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.UserId)*@
                    Item 2
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.UserId)*@
                    Item 3
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
