@{
    ViewData["Title"] = "Detail Page";
}
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        <!-- localStorage FindByID-->
        <!-- if member -->
        Page Heading
        <!-- else admin -->
        <input />
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="https://via.placeholder.com/750x500" alt="">
            <input type="file"/>
        </div>

        <div class="col-md-4">
            <input hidden />
            <h3 class="my-3">Project Description</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <textarea></textarea>

            <h3 class="my-3">Project Details</h3>
            <ul>
                <li>Lorem Ipsum <input /></li>
                <li>Dolor Sit Amet <input /></li>
                <li>Consectetur <input /></li>
                <li>Adipiscing Elit <input /></li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    @*<h3 class="my-4">Related Projects</h3>

    <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

    </div>*@
    <!-- /.row -->
    <!-- Reviews -->
    <div class="row">

    <h4>Reviews</h4> 
    <label for="message">Message</label> 
    <textarea name="msg" 
              id="msg" 
              cols="30" 
              rows="5" 
              class="form-control"></textarea>
        <button>Send Review</button>
    </div>

    <div class="row">
        <div class="comment mt-4 text-justify float-left">
            <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
            <b>Jhon Doe</b> <span>- 20 October, 2018</span> <br>
            <span><span>Status: Pending... </span> <a href="#">Accept</a> <a href="#">Decline</a></span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
        </div>
    </div>

</div>
<!-- /.container -->