
<!-- Header-->
<header class="bg-dark py-5 bg-profile">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">

            <div class="w3-display-container" style="width: 220px; margin: 20px auto; ">
                <div style="width: 200px; height:200px; border-radius: 100px; border: 10px solid;">
                    <img src="./img/person.jpeg" alt="Avatar">
                </div>
                <div class="w3-display-bottomleft w3-container w3-text-black">
                    <h2>Jane Doe</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Section-->
<section>
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-container">
                    <br>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Member</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ex@mail.com</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Address</b></p>
                    <p>Billing</p>
                    <p></p>
                    <p>Mailing</p>
                    <p></p>
                    <p>Home</p>
                    <p></p>
                    <br>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Preference Setting</b></p>
                    <p>Favorite Genre</p>
                    <p>Favorite Platform</p>
                    <p><label>Would you like to receive promotional emails?<input type="checkbox" /></label></p>

                    <br>
                    <p class="w3-large w3-text-theme"><b><i class="fa fa-users fa-fw w3-margin-right w3-text-teal"></i>Family / Friends</b></p>
                    <br>
                </div>
            </div><br>
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</section>