
<div class="container">
    <table style="width:100%; margin: 20px;">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"/></td>
                <td>Game1</td>
                <td>blah</td>
                <td>$40.99</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>Game2</td>
                <td>blah</td>
                <td>$50.99</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>Game3</td>
                <td>blah</td>
                <td>$60.99</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>Game4</td>
                <td>blah</td>
                <td>$70.99</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>Game5</td>
                <td>blah</td>
                <td>$80.99</td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: right; margin: 20px;">
        <button>Checkout</button>
    </div>
</div>