/* Bordered form */
#loginPage form {
    border: 3px solid #f1f1f1;
    max-width: 600px;
    margin: 30px auto;
}

/* Full-width inputs */
#loginPage input[type=text], #loginPage input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
#loginPage button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    /* Add a hover effect for buttons */
    #loginPage button:hover {
        opacity: 0.8;
    }

/* Extra style for the cancel button (red) */
#loginPage .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
#loginPage .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
#loginPage img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
#loginPage .container {
    padding: 16px;
}

/* The "Forgot password" text */
#loginPage span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    #loginPage span.psw {
        display: block;
        float: none;
    }

    #loginPage .cancelbtn {
        width: 100%;
    }
}

.bg-profile {
    background-image: url("../img/leaf.jpg");
    background-size: cover;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

    .searchTerm:focus {
        color: #00B4CC;
    }

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.genre label{
    width: 130px;
    height:40px;
}

.genre label input{
    margin-left:10px;
}